# fly.toml file generated for optiya-insight on 2025-08-07T21:00:00+05:00

app = "optiya-insight"
primary_region = "sin"

[build]
  builder = "paketobuildpacks/builder-jammy-base"

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 1024

[mounts]
  source="optiya_insight_data"
  destination="/app/data"
